html {
    box-sizing: border-box
  }
  
  /* The Universal Selector */
  *, /* All elements*/
  *::before, /* All ::before pseudo-elements */
  *::after { /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
       but can be over-ridden as needed */
    box-sizing: inherit;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }
  
  body {
    background-color: white;
    /* Use a system font, if none are available use an available sans-sarif font */
    margin: 0;
    color: #424748;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
      "nav"
      "main";
    font-size: 18px;
  }
  
  body > main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    
  }
  
  body > main h1:first-child {
    margin-bottom: 50px;
  }
  
 

body > nav {
  grid-area: nav;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px; 
  
}


nav > i {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  color: #424748;
}

nav > a:visited {
  color: #424748;
}

nav > a:hover {
  color: white;
  background-color: rgb(53, 162, 53);
}

nav > a.active {
  color: white;
}

.fas::before {
  font-family: "Font Awesome 5 Free";
}

.profile {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

#avatar {
  display: flex;
  flex-direction: row;
  font-size: medium;

}
#pic {
  padding: 12px;
}

h1{
  font-size: 70px;
}

nav {
  border-bottom: 1px solid gray;
}

#logos {
  padding-left: 0px;
  margin-right: 900px ;
  font-family: 'Bowlby One', cursive;
  color: rgb(114, 13, 114);
  font-size: x-large;
}

#sub-head {
  height:150px;
  width: 150px;
  border-radius: 50%;
}
.usermsg {
  display: flex;
  flex-direction: row;
  
}
#msg {
  max-width: 500px;
}
#about {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
}

#logout{
  background-color: blue;
  color: white;
  border-radius: 15px;
  border: none;
  height: 40px;
  width: 60px;
}

