main {
    margin-top: 150px;
}


div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 500px;
    font-size: 40px;


}

.choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#hey {
    font-size: 100px;
}

a>#lookup:hover {
    background-color: green;
    color: white;
    border-radius: 50%;
}


