<%- include('../partials/html-head') %>
    <link rel="stylesheet" href="/stylesheets/foods/choice.css" />
 <%- include('../partials/nav') %>
        <main>
            <div>
            <a href="/foods/look">
                <button class="look" type="submit">Look Up Food Item</button>
            </a>
            <a href="/foods/new">
                <button class="manual" type="submit">Manually Log Food Item </button>
            </a>
        </div>
        </main>

        <%- include("../partials/footer") %>